# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
env/
venv/
.ipynb_checkpoints/

# Jupyter
*.ipynb_checkpoints

# Large model files (optional if using LFS or external hosting)
music_popularity_classifier.model
